/*-- Font Families --*/

@font-face {font-family: "PoiretOne-Regular"; src: url("fonts/PoiretOne-Regular.ttf"); }


/*-- Media Queries --*/

@media (min-width: 1300px) {

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

table {
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}
    
tr {
    vertical-align: top;
    background-color: goldenrod;
    height: 100vh;
}

img {
    height: 97vh;
}

#horizontal_wrap {
    width: 4000px;
    position: absolute;
    top: 0;
    left: 0;
}

.segment p {
    padding: 0 100px;
    font-family: PoiretOne-Regular;
    font-size: 24px;
}

p {
    margin: 0 0 2px 0;
}

}