@media (min-width: 1300px) {

body {
    margin: 0;
    padding: 0;
}

table {
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}
    
tr {
    vertical-align: top;
    background-color: goldenrod;
    height: 100vh;
}

#horizontal_wrap {
    width: 2500px;
    position: absolute;
    top: 0;
    left: 0;
}

#horizontal_wrap section {
    width: 100vh;
}

p {
    margin: 0 0 2px 0;
}

}