.resume-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
    background-color: #CEEAF3;
}

.resume-listing {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    color: #fffaee;
    background-color: #655676;
    box-shadow: 9.5px 9.5px 4px #C2B8CC;
    outline: 4px solid #51455F;
}