@font-face {font-family: "JosefinSlab-Regular"; src: url("./JosefinSlab-Regular.ttf"); }
@font-face {font-family: "JosefinSlab-Thin"; src: url("./JosefinSlab-Thin.ttf"); }

.works-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100vh;
    padding: 1vh 0 101vh;
    background-color: #CEEAF3;
}

.works-cited {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 7;
    color: #fffaee;
    background-color: #A32100;
    box-shadow: 9.5px 9.5px 4px #FFAD99;
    outline: 4px solid #8F1D00;
}

.works-cited h1 {
    font-size: 24px;
    font-family: 'JosefinSlab-Regular';
    text-align: center;
    margin: 2vh 0 .5vh;
}

.works-section {
    display: Flex;
    justify-content: space-between;
    margin: 0 0 5vh;
    background-color: #c77966;
    border: 3px outset #8f7fa2;
}

.techs-primer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tech-svg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tech-icon {
    height: 32px;
    width: 32px;
    filter: none;
}

.tech-icon-resized {
    height: 36px;
    width: 44px;
    filter: none;
}

.project-fotos {
    height: 350px;
    width: 375px;
    opacity: 0.85;
}

.techs-primer p {
    margin: 0 1vw 0;
    font-family: 'JosefinSlab-Thin';
    font-size: 18px;
    line-height: 1.25em;
}

.this-project-h1 {
    font-weight: normal;
}

.this-project-p {
    padding: 2vh 0 0;
}

.this-project-p code {
    font-size: 14px;
    font-weight: normal;
}

.radio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2vh;
}

.radio-box h2 {
    font-family: 'JosefinSlab-Thin';
    font-size: 14px;
    font-weight: normal;
}

.radio-buttons {
    height: 24px;
    width: 24px;
}