@font-face {font-family: "JosefinSlab-Regular"; src: url("./JosefinSlab-Regular.ttf"); }
@font-face {font-family: "JosefinSlab-Thin"; src: url("./JosefinSlab-Thin.ttf"); }

.works-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 125vh;
    padding: 1vh 0 10vh;
    background-color: #CEEAF3;
}

.works-cited {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 7;
    color: #fffaee;
    background-color: #A32100;
    box-shadow: 9.5px 9.5px 4px #FFAD99;
    outline: 4px solid #8F1D00;
}

.works-cited h1 {
    font-size: 24px;
    font-family: 'JosefinSlab-Regular';
    text-align: center;
    margin: 2vh 0 .5vh;
}

.works-section {
    display: Flex;
    justify-content: space-evenly;
    margin: 0 0 5vh;
}

.techs-primer {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tech-svg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0;
}

.tech-icon {
    height: 36px;
    width: 36px;
    filter: invert(87%) sepia(12%) saturate(245%) hue-rotate(339deg) brightness(110%) contrast(104%);
}

.tech-icon-color {
    height: 36px;
    width: 36px;
    filter: none;
}

.tech-icon-color-resized {
    height: 48px;
    width: 72px;
    filter: none;
}

.techs-primer p {
    margin: 0 1vw 0;
    font-family: 'JosefinSlab-Thin';
    font-size: 12px;
    line-height: 1.25em;
}

.this-project-h1 {
    font-weight: normal;
    padding: 0 0 2vh;
}

.this-project-p {
    padding: 2vh 0 0;
}

.project-fotos {
    margin-right: 1vw;
    height: 125px;
    width: 250px;
}

.radio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2vh;
}

.radio-box h2 {
    font-family: 'JosefinSlab-Thin';
    font-size: 14px;
    font-weight: normal;
}

.radio-buttons {
    height: 24px;
    width: 24px;
}