@font-face {font-family: "Voltaire-Regular"; src: url("./Voltaire-Regular.ttf"); }

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5vh 0;
    background-color: #FB8D74;
    border-bottom: thick double #c8705c;
}


.logo {
    margin: 0 2vw;
    height: 64px;
    width: 64px;
}


.author {
    display: flex;
    flex-direction: row;
    font-size: 1.75em;
    font-family: 'Voltaire-Regular';
    word-spacing: 2px;
    color: #fff9f5;
}


.author aside {
    align-self: center;
    overflow: hidden;
    border-right: .15em solid transparent;
    margin: 0 auto;
    white-space: nowrap;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 7;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff9f5 }
}


.icon-list {
    align-self: center;
}

.icon {
    height: 32px;
    width: 32px;
    padding-right: 1vw;
    filter: invert(84%) sepia(1%) saturate(2130%) hue-rotate(320deg) brightness(117%) contrast(103%);
}