@font-face {font-family: "JosefinSlab-Regular"; src: url("./JosefinSlab-Regular.ttf"); }
@font-face {font-family: "JosefinSlab-Thin"; src: url("./JosefinSlab-Thin.ttf"); }


/* .timeline-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    height: 100vh;
    background-color: #CEEAF3;
} */

.timeline-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    color: #fffaee;
    background-color: #655676;
    box-shadow: 9.5px 9.5px 4px #C2B8CC;
    outline: 4px solid #51455F;
} 

.timeline h1 {
    font-size: 24px;
    font-family: 'JosefinSlab-Regular';
    text-align: center;
}

.timeline p {
    font-size: 20px;
    font-family: 'JosefinSlab-Thin';
    text-align: center;
}

.timeline-handler {
    display: flex;
    flex-direction: column;
}

.timeline-handler label {
    text-align: center;
    font-family: 'JosefinSlab-Thin';
    margin: 2.5vh 0 0;
    font-size: 14px;
}

.timeline-display-one,
.timeline-display-two,
.timeline-display-three,
.timeline-display-four,
.timeline-display-five {
    margin: 4.5vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-display-one h1,
.timeline-display-two h1,
.timeline-display-three h1,
.timeline-display-four h1,
.timeline-display-five h1 {
    font-family: 'JosefinSlab-Regular';
    font-weight: normal;
    font-size: 21px;
    margin: 0 0;
    width: 80%;
}

.timeline-display-one p,
.timeline-display-two p,
.timeline-display-three p,
.timeline-display-four p,
.timeline-display-five p {
    width: 75%;
    font-size: 16px;
}

.timeline-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1em;
    margin: 4.5vh 0 0;
}

.timeline-dates {
    background-color: #837198;
    border: 3px outset #8f7fa2;
    font-family: 'JosefinSlab-Thin';
    font-size: 0.75em;
    padding: .50vh .75vw;
    width: 40%;
    
}

.timeline-dates h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: 'JosefinSlab-Regular';
    font-size: 1.75em;
    color: #fffaee;
    border-bottom: 2px double #D7EDD4;
}