@font-face {font-family: "JosefinSlab-Regular"; src: url("./JosefinSlab-Regular.ttf"); }
@font-face {font-family: "JosefinSlab-Thin"; src: url("./JosefinSlab-Thin.ttf"); }

.timeline-container {
    margin: 12vh 0;
    padding: 0 0;
    color: black;
    background-color: #e9b6a5;
    box-shadow: 6.5px 9.5px 4px #f8e8e2;
    outline: 4px double #e4a591;
    width: 80%;
    align-self: center;
}

.timeline h1 {
    font-size: 21px;
    font-family: 'JosefinSlab-Regular';
    text-align: center;
}

.timeline p {
    font-size: 16px;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    text-align: center;
}

.timeline-handler {
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0;

}

.timeline-handler label {
    text-align: center;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    margin: 3vh 0 0;
    font-size: 11px;
}

.timeline-display-one,
.timeline-display-two,
.timeline-display-three,
.timeline-display-four,
.timeline-display-five {
    margin: 6vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-display-one h1,
.timeline-display-two h1,
.timeline-display-three h1,
.timeline-display-four h1,
.timeline-display-five h1 {
    font-family: 'JosefinSlab-Regular';
    font-weight: normal;
    font-size: 24px;
    margin: 0 0;
    width: 88%;
}

.timeline-display-one p,
.timeline-display-two p,
.timeline-display-three p,
.timeline-display-four p,
.timeline-display-five p {
    width: 90%;
    font-size: 16px;
}

.timeline-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: .25em;
    margin: 1.5vh 0 1.5vh;
}

.timeline-dates {
    background-color: #f3d7ce;
    border: 3px outset #e9b6a5;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    font-size: 0.95em;
    padding: .50vh .75vw;
    width: 40%;
    
}

.timeline-dates h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: 'JosefinSlab-Regular';
    font-size: 1.75em;
    color: black;
    border-bottom: 2px double #8ACDE5;
}

@media (min-width: 860px) {

/* .timeline-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 200px 200px 200px 200px 200px;
    height: 100vh;
    background-color: #CEEAF3;
} */

.timeline-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    color: black;
    background-color: #e9b6a5;
    box-shadow: 6.5px 9.5px 4px #f8e8e2;
    outline: 4px double #e4a591;
    width: auto;
    margin: 0 0;
} 

.timeline h1 {
    font-size: 24px;
    font-family: 'JosefinSlab-Regular';
    text-align: center;
}

.timeline p {
    font-size: 20px;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    text-align: center;
}

.timeline-handler {
    display: flex;
    flex-direction: column;
}

.timeline-handler label {
    text-align: center;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    margin: 2.5vh 0 0;
    font-size: 14px;
}

.timeline-display-one,
.timeline-display-two,
.timeline-display-three,
.timeline-display-four,
.timeline-display-five {
    margin: 4.5vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-display-one h1,
.timeline-display-two h1,
.timeline-display-three h1,
.timeline-display-four h1,
.timeline-display-five h1 {
    font-family: 'JosefinSlab-Regular';
    font-weight: normal;
    font-size: 21px;
    margin: 0 0;
    width: 80%;
}

.timeline-display-one p,
.timeline-display-two p,
.timeline-display-three p,
.timeline-display-four p,
.timeline-display-five p {
    width: 75%;
    font-size: 16px;
}

.timeline-date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1em;
    margin: 4.5vh 0 2.5vh;
}

.timeline-dates {
    background-color: #f3d7ce;
    border: 3px outset #e9b6a5;
    font-family: 'JosefinSlab-Thin';
    font-weight: bolder;
    font-size: 1.05em;
    padding: .50vh .75vw;
    width: 40%;
    
}

.timeline-dates h2 {
    margin: 0 0 .5em;
    font-weight: normal;
    font-family: 'JosefinSlab-Regular';
    font-size: 1.75em;
    color: black;
    border-bottom: 2px double #8ACDE5;
}

}