.App {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px 215px;
  background-color: #CEEAF3;
}